[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andy (andyandcandy)
[access "refs/for/refs/*"]
	read = group user/Andy (andyandcandy)
	push = group user/Andy (andyandcandy)
	label-Code-Review = -2..+2 group user/Andy (andyandcandy)
	label-Verified = -1..+1 group user/Andy (andyandcandy)
	rebase = group user/Andy (andyandcandy)
	removeReviewer = group user/Andy (andyandcandy)
	submit = group user/Andy (andyandcandy)
[access "refs/heads/*"]
	read = group user/Andy (andyandcandy)
	create = group user/Andy (andyandcandy)
	push = +force group user/Andy (andyandcandy)
	pushMerge = group user/Andy (andyandcandy)
[access "refs/tags/*"]
	push = group user/Andy (andyandcandy)
	push = +force group user/Andy (andyandcandy)
